*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f2f4;
    font-family: sans-serif;
    outline: none;
    
}
body{
    color: #f0f2f4;
    
}
.container{
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;

}

.calculator{
    background-color:#f0f2f4 ;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                        5px 5px 12px rgb(191, 127, 255);
    display: grid;
    grid-template-columns: repeat(4,60px);

}
input{
    grid-column: span 4 ;
    height: 70px;
    width: 240px;
    background-color: #f0f2f4;
    box-shadow: inset 5px 5px 12px #ffffff,
                inset   5px 5px 12px #18548f;
    border: none;
    border-radius: 20px;
    color:rgb(rgb(161, 210, 170), green, blue);
    font-size: 50px;
    text-align: end;
    margin:auto;
    margin-top:20px ;
    margin-bottom: 30px;
    padding: 20px;
}
button{
    height: 48px;
    width: 48px;
    background-color: #f0f2f4;
    box-shadow: inset -15px -15px 12px #ede9ec,
                15px 15px 12px #f5f6f8;
    border: none;
    border-radius: 50%;
    margin:6px;
    font-size: 20px;

}
.heading{
    margin: 0;
    text-align: center;
    font-size: 30px;
    height: 10px;
    color: rgb(191, 127, 255);

}
.equal{
    width: 110px;
    border-radius: 40px;
    box-shadow: inset -15px -15px 12px #ede9ec,
                15px 15px 12px #f5f6f8;
}
